/*CSS COLOR NAME : lightslategrey*/

/*TAGS*/

html *{
	padding: 0px;
	margin: 0px;
	margin: auto;
	font-size: 16px;
	font-family: Lato;
	box-sizing: border-box;
}

body{
	background-image: url("/images/dots.jpg");
	background-attachment: fixed;
}

h1{
	font-size: 2rem;
}

h2{
	font-size: 1.5rem;
}

h3{
	font-size: 1.25rem;
}

.home p{
	margin: 1rem;
}

/*input{
    padding: 0.2rem;
    margin: 0.4rem auto;
}*/

/*FIXED HEADING*/

.title{
	position: fixed;
	width: 100%;
	top: 0px;
	padding: 0.75rem;
	background: transparent linear-gradient(to right, hsl(200,100%,36%), hsl(200,100%,67%));
	box-shadow: 0px 1px 8px 1px #000;
	border-bottom: 4px solid hsl(292,100%,76%);
	color: white;
}

.template{
	max-width: 850px;
	margin-top: 5.75rem;
	padding: 1rem;
	width: 100%;
	background-color: #FFF;
	border: 1px solid;
	margin-bottom: 10rem;
}

/*DROPDOWN MENU*/
.dropdown{
	position: absolute;
}

.dropdown ul{
	positive: relative;
}

.dropdown li{
	padding: 0.5rem;
}

/*HELPER STYLES*/

.center{
	text-align: center;
}

.inline-block{
	display: inline-block;
}

.float-right{
	float: right;
}

/*OUTLINE*/

.outline-controls{
	height: 3rem;
}

.outline{
	border-top: 4px double hsl(212,100%,23%);
	padding: 1rem 0rem;
}

.outline-level{
    margin: 1rem 0.5rem 1rem 1rem;
}

.form{
	padding-top: 0.5rem;
}

.form-outline{
	padding-bottom: 1rem;
}

/*EVENTS LISTS*/

.event p{
	padding: 0.5rem;
}

.event-input{
	width: 26rem;
}

.event-even{
	background-color: #f0f2f4;
}

.event-odd{
	background-color: #e2e6e9;
}

.event-even:hover{
	background-color: #c5ccd3;
	transition: 0.5s;
}

.event-odd:hover{
	background-color: #c5ccd3;
	transition: 0.5s;
}

.event-buttons{
	padding: 5px;
}

li{
	list-style-type: none;
}

li p{
	overflow: hidden;
}

/*BUTTON STYLES*/

.buttons-bar button{
	padding: 3px 7px;
	margin: 0.25rem -2px 0px -2px;
}

.button{
	border-style: none;
	display: inline-block;
}

.button,.button span{
	letter-spacing: 1px;
}

.button-transparent{
	background-color: rgba(1,1,1,0);
}

.button-transparent:hover{
	background-color: #c5ccd3;
	transition: 0.5s;
}

.button-opaque{
	background-color: #E2E6E9;
}

.button-opaque:hover{
	background-color: #c5ccd3;
	transition: 0.5s;
}

.button-round{
	border-radius: 50%;
	border-radius: 50%;
	width: 1.6rem;
	height: 1.6rem;
	line-height: 0.5rem;
}

.button-user{
	background-color: hsl(320,100%,89%);
	border-radius: 8px;
	padding: 2px 15px;
}

.button-user:hover{
	transition: 0.5s;
	background-color: hsl(320,100%,77%);
}