html *{
	padding: 0px;
	margin: 0px;
	margin: auto;
	font-size: 16px;
	font-family: Lato;
	box-sizing: border-box;
}

body{
	background-color: hsl(193,100%,93%);
}

.center{
	text-align: center;
}

h1{
	font-size: 2rem;
}

h2{
	font-size: 1.5rem;
	display: inline-block;
}

h3{
	font-size: 1.25rem;
	display: inline-block;
}

li{
	list-style-type: none;
}

li p{
	overflow: hidden;
}

input{
    padding: 0.2rem;
    margin: 0.4rem auto;
}

.title{
	position: fixed;
	width: 100%;
	text-align: center;
	top: 0px;
	padding: 0.75rem;
	background: transparent linear-gradient(to left, #007393, #00A3D1) repeat scroll 0% 0%;
	box-shadow: 0px 1px 8px 1px #000;
	border-bottom: 8px solid hsl(212,100%,23%);
}

.title *{
	display: inline-block;
}

.title form{
	float: right;
}

.template{
	max-width: 1000px;
	margin-top: 5.75rem;
	padding: 1rem;
	width: 100%;
	background-color: #FFF;
	border: 1px solid;
	margin-bottom: 10rem;
}

.outline{
	border-top: 4px double hsl(212,100%,23%);
	margin: 2rem 2rem;
	padding-top: 1.5rem;
}

.outline-form{
	margin-top: 0.25rem;
}

.outline-input{
	display: inline-block;
}

.outline-buttons button{
	background-color: #e2e6e9;
	padding: 3px 7px;
	margin: 0.25rem -2px 0px -2px;
}

.outline-buttons button:hover{
	background-color: #c5ccd3;
	transition: 0.5s;
}

.part-and-chapter-buttons{
	display: inline-block;
}

.part-and-chapter-buttons button{
	background-color: white;
	border-radius: 50%;
}

.part-and-chapter-buttons button:hover{
	background-color: #e2e6e9;
	transition: 0.5s;
}

.button{
	border-style: none;
	display: inline-block;
}

.button,.button span{
	letter-spacing: 1px;
}

input[value="+"]{
	background-color: #E2E6E9;
	border-radius: 50% 50%;
	width: 1.5rem;
	height: 1.5rem;
	line-height: 0.5rem;
	vertical-align: middle;
}

input[value="+"]:hover{
	background-color: pink;
	transition: 0.5s;
}

/*CSS COLOR NAME : lightslategrey*/

.events{
	margin: 1rem 3rem 0.5rem 1rem;
	
}

.event p{
	padding: 0.5rem;
}

.event-form{
	display: block;
}

.event-form input[type="text"]{
	width: 26rem;
	margin-right: 0.3rem;
}

.event-even{
	background-color: #f0f2f4;
}

.event-odd{
	background-color: #e2e6e9;
}

.event-buttons{
	float: right;
	padding: 5px;
}

.event-buttons button{
	background-color: rgba(1,1,1,0);
}

.event-buttons button:hover{
	background-color: #c5ccd3;
	transition: 0.5s;
}

.chapter{
	margin: 15px 0px 0px 25px;
}

.part{
	margin: 15px 0px 0px 15px;	
}

/*LOGIN PAGE STYLES*/

.box{
	padding: 1rem;
	width: 100%;
	border-radius: 8px;
}

.form-box{
	max-width: 30rem;
	height: 14rem;
}

.home-form{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.form-box input{
    width: 90%;
    max-width: 300px;
}

.tabs{
	max-width: 30rem;
}

.tab{
	display: inline-block;
	padding: 0.5rem 1.25rem;
	margin-left: 0.5rem;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.light-bg{
	background-color: #e2e6e9;
	color: black;
}

.dark-bg{
	background-color: #8a99a8;
	color: white;	
}

