html *{
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	font-family: Lato;
	box-sizing: border-box;
}

body{
	background-color: hsl(193,100%,93%);
}

.title{
	position: fixed;
	text-align: center;
	width: 100%;
	top: 0px;
	padding: 0.75rem;
	background: transparent linear-gradient(to left, #007393, #00A3D1) repeat scroll 0% 0%;
	box-shadow: 0px 1px 8px 1px #000;
	border-bottom: 8px solid hsl(212,100%,23%);
}

.title *{
	display: inline-block;
}

.title form{
	float: right;
}

.template{
	max-width: 1000px;
	margin-top: 5.75rem;
	padding: 1rem;
	width: 100%;
	background-color: #FFF;
	border: 1px solid;
	margin-bottom: 10rem;
}

.outline{
	border-top: 4px double hsl(212,100%,23%);
	margin: 2rem 2rem;
	padding-top: 1.5rem;
}

.event{
	margin: 0px 100px 0px 30px;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
}

/*CSS COLOR NAME : lightslategrey*/

.event-even{
	background-color: #f0f2f4;
}

.event-odd{
	background-color: #e2e6e9;
}

.outline-form{
	display: inline-block;
}

.event-form{
	display: block;
}

.chapter{
	margin: 15px 0px 0px 25px;
}

.part{
	margin: 15px 0px 0px 15px;	
}

li{
	list-style-type: none;
}

li p{
	overflow: hidden;
}

h1{
	font-size: 2rem;
}

h2{
	font-size: 1.5rem;
}

h3{
	font-size: 1.25rem;
}


.box{
	padding: 1rem;
	width: 100%;
	border-radius: 8px;
}

.form-box{
	max-width: 30rem;
	height: 14rem;
}

.home-form{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.form-box input{
    width: 90%;
    max-width: 300px;
}

input{
    padding: 0.2rem;
    margin: 0.4rem auto;
    display: block;
}

.tabs{
	max-width: 30rem;
}

.tab{
	display: inline-block;
	padding: 0.5rem 1.25rem;
	margin-left: 0.5rem;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.light-bg{
	background-color: hsl(256,81%,66%);
}

.dark-bg{
	background-color: hsl(241,33%,13%);
	color: hsl(241,90%,77%);	
}

.button-container{
	float: right;

}

.button{
	border-style: none;
	display: inline-block;
	background-color: rgba(1,1,1,0);
	padding: 4px;
}

.button,.button span{
	font-size: 0.8rem;
	letter-spacing: 1px;
}

.button:hover{
	background-color: #c5ccd3;
	transition: 0.5s;
}

.outline-input{
	display: inline-block;
}
